body {
    margin: 1em;
    padding: 0;
    font-size: 100%;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4 {
    margin: 1em 0 .5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}

p, figure {
    margin: 1em 0;
}

a img {
    border: none;
}
